
p {
    font-family: Arial;
}
.video-title {
    
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 24px;
}
.description {
    font-family: Arial;
    font-size: 15px;
    color: rgb(84, 84, 84);
}
.video {
    align-items: center;
    width: 340px;
}
.shop-text {
    color: white;
    background-color: rgba(224, 6, 6, 0.755);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.shop-now:hover {
    text-decoration: underline;
    cursor: pointer;
}
